---
- name: Setup masters
  hosts: masters
  become: true
  remote_user: quehoras

  tasks:
    - name: Install dependences
      ansible.builtin.apt:
        pkg:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - containerd
        update_cache: true

    - name: Create dir
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Add Kubernetes GPG key
      ansible.builtin.apt_key:
        url: https://pkgs.k8s.io/core:/stable:/v1.34/deb/Release.key
        state: present

    - name: Add k8s repo
      ansible.builtin.apt_repository:
        repo: "deb https://pkgs.k8s.io/core:/stable:/v1.34/deb/ /"
        state: present
        filename: kubernetes

    - name: Install packets
      ansible.builtin.apt:
        pkg:
          - kubelet
          - kubeadm
          - kubectl

    - name: Load br_netfilter
      community.general.modprobe:
        name: br_netfilter
        state: present

    - name: Setup sysctl
      ansible.posix.sysctl:
        name: "{{ item.name }}"
        value: "{{ item.value }}"
        state: present
      loop:
        - { name: net.ipv4.ip_forward, value: '1' }
        - { name: net.bridge.bridge-nf-call-iptables, value: '1' }
        - { name: net.bridge.bridge-nf-call-arptables, value: '1' }
        - { name: net.bridge.bridge-nf-call-ip6tables, value: '1' }

- name: Install node exporter
  hosts: all
  become: true
  remote_user: quehoras

  tasks:

    - name: Download Node Exporter
      ansible.builtin.get_url:
        url: https://github.com/prometheus/node_exporter/releases/download/v1.10.2/node_exporter-1.10.2.linux-amd64.tar.gz
        dest: /home/quehoras
        mode: '0644'

    - name: Unarchive node_exporter
      ansible.builtin.unarchive:
        src: /home/quehoras/node_exporter-1.10.2.linux-amd64.tar.gz
        dest: /home/quehoras
        remote_src: true

    - name: Copy node_exporter binary to /usr/local/bin
      ansible.builtin.copy:
        src: /home/quehoras/node_exporter-1.10.2.linux-amd64/node_exporter
        dest: /usr/local/bin/node_exporter
        mode: '0755'
        remote_src: true
        owner: root
        group: root
    - name: Create systemd service for node_exporter
      ansible.builtin.copy:
        content: |
          [Unit]
          Description=Node Exporter
          After=network.target

          [Service]
          User=root
          ExecStart=/usr/local/bin/node_exporter

          [Install]
          WantedBy=multi-user.target
        dest: /etc/systemd/system/node_exporter.service
        mode: '0644'

    - name: Reload systemd and enable node_exporter
      ansible.builtin.systemd:
        name: node_exporter
        enabled: true
        state: started
        daemon_reload: true

- name: Install Prometheus
  hosts: prometheus
  become: true
  remote_user: quehoras

  tasks:
    - name: Create User
      ansible.builtin.user:
        name: prometheus
        system: true
        shell: /bin/false
        home: /var/lib/prometheus

    - name: Download prometheus
      ansible.builtin.get_url:
        url: https://github.com/prometheus/prometheus/releases/download/v3.7.3/prometheus-3.7.3.linux-amd64.tar.gz
        dest: /home/quehoras/prometheus.tar.gz
        mode: '0644'

    - name: Unarchive prometheus
      ansible.builtin.unarchive:
        src: /home/quehoras/prometheus.tar.gz
        dest: /home/quehoras
        remote_src: true

    - name: Copy binaries
      ansible.builtin.copy:
        src: /home/quehoras/prometheus-3.7.3.linux-amd64/{{ item }}
        dest: /usr/local/bin/{{ item }}
        mode: '0755'
        remote_src: true
      loop:
        - prometheus
        - promtool

    - name: Create dirs
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: prometheus
        group: prometheus
        mode: '0644'
      loop:
        - /etc/prometheus
        - /var/lib/prometheus

    - name: Create prometheus config
      ansible.builtin.template:
        src: prometheus.yml.j2
        dest: /etc/prometheus/prometheus.yml
        owner: prometheus
        group: prometheus
        mode: '0644'
      vars:
        node_exporter_targets: "{{ groups['all'] | map('extract', hostvars, 'ansible_host') | list }}"

    - name: Create systemd service
      ansible.builtin.copy:
        content: |
          [Unit]
          Description=Prometheus
          Wants=network-online.target
          After=network-online.target

          [Service]
          User=prometheus
          Group=prometheus
          Type=simple
          ExecStart=/usr/local/bin/prometheus \
            --config.file /etc/prometheus/prometheus.yml \
            --storage.tsdb.path /var/lib/prometheus/ \
            --web.console.templates=/etc/prometheus/consoles \
            --web.console.libraries=/etc/prometheus/console_libraries

          [Install]
          WantedBy=multi-user.target
        dest: /etc/systemd/system/prometheus.service
        mode: '0644'

    - name: Start Prometheus
      ansible.builtin.systemd:
        name: prometheus
        enabled: true
        state: started
        daemon_reload: true

- name: Install Grafana via Docker
  become: true
  hosts: grafana
  tasks:
    - name: Install docker
      ansible.builtin.apt:
        name:
          - docker.io
          - docker-compose
        update_cache: true

    - name: Start docker service
      ansible.builtin.systemd:
        name: docker
        state: started
        enabled: true

    - name: Run Grafana container
      community.docker.docker_container:
        name: grafana
        image: grafana/grafana:latest
        state: started
        restart_policy: always
        ports:
          - "3000:3000"
        env:
          GF_SECURITY_ADMIN_PASSWORD: "admin"
        volumes:
          - grafana-storage:/var/lib/grafana
